<script>
    const opt = "width=300, height=200, top=500, left=500"; //윈도우 창의 스타일
    window.open("/cookie/popup","",opt);                    //새로운 윈도우 창을 생성
</script>
<h2>cookie</h2>
쿠키 값 : <%= userCookie %>
