<h3> 공지사항</h3>
오전 5시까지 업데이트 예정입니다<hr>
<input type="checkbox" id="chk" onclick="window.close()">
<label for="chk">하루동안 열지 않음</label>
<!-- for : label 태그에서만 사용가능. input태그의 id와 동일하게 설정(동기화시켜 어느 쪽을 선택해도 활성화)-->