<% console.log("login esj : ", nick); %>
<% if (nick ===undefined){%><!-- 로그인 하지 않은 상태(로그인을 하지 않아 세션 nick값이 없을 때) -->
<form action="/session/login_check" method="post">
    <input type="text" name="id"><br>
    <input type="text" name="pw"><br>
    <input type="submit" value="로그인"><br>
</form>
<% }else{%><!-- 로그인 중인 상태에서 로그인 시 -->
    <%= nick %>님 로그인 상태입니다<br>
    <a href="/session/success">성공 페이지 이동</a>
    <a href="/session/logout">로그아웃</a>
<%}%>